@import './variables.scss';

.button-holder-one{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    background: $main-accent;
    text-align: center;
    color: $white;
    border-radius: 124px;
    min-width: 130px;
    font-family: 'Manrope-Regular';
    letter-spacing: 1.13px;
    cursor: pointer;
}

.center{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}