@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url("/content/fonts/Manrope-ExtraBold.ttf");
}

@font-face {
  font-family: 'Manrope-Light';
  src: url("/content/fonts/Manrope-Light.ttf");
}

@font-face {
  font-family: 'Manrope-Regular';
  src: url("/content/fonts/Manrope-Regular.ttf");
}

@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url("/content/fonts/Manrope-ExtraBold.ttf");
}

@font-face {
  font-family: 'Manrope-Light';
  src: url("/content/fonts/Manrope-Light.ttf");
}

@font-face {
  font-family: 'Manrope-Regular';
  src: url("/content/fonts/Manrope-Regular.ttf");
}

.button-holder-one {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  background: #49C5B6;
  text-align: center;
  color: #FFFFFF;
  border-radius: 124px;
  min-width: 130px;
  font-family: 'Manrope-Regular';
  letter-spacing: 1.13px;
  cursor: pointer;
  border: 1px solid #49C5B6;
}

@media screen and (max-width: 1100px) {
  .button-holder-one {
    min-width: 70px;
    font-size: 12px;
  }
}

.button-holder-two {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  background: transparent;
  text-align: center;
  color: #49C5B6;
  border-radius: 124px;
  min-width: 130px;
  font-family: 'Manrope-Regular';
  letter-spacing: 1.13px;
  cursor: pointer;
  border: 1px solid #49C5B6;
}

@media screen and (max-width: 1100px) {
  .button-holder-two {
    min-width: 70px;
    font-size: 12px;
  }
}

.center {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html {
  overflow: hidden;
}

b {
  font-family: 'Manrope-ExtraBold';
}

a {
  color: #49C5B6;
}

a div {
  text-decoration: none;
}

a:hover {
  color: #49C5B6;
}

a:hover div {
  text-decoration: none;
}

a:visited {
  color: #49C5B6;
}

a:visited div {
  text-decoration: none;
}

a:focus {
  color: #49C5B6;
}

a:focus div {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #ADADAD;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ADADAD;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #ADADAD;
  opacity: 1;
}

::placeholder {
  color: #ADADAD;
  opacity: 1;
}

:-ms-input-placeholder {
  color: red;
}

::-ms-input-placeholder {
  color: red;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0px;
  margin: 0px;
  background: #FFFFFF;
  font-weight: 300;
}

.main {
  height: 100vh;
  width: 100vw;
  word-spacing: -1;
  min-height: 580px;
}

.main .holder{
  padding-bottom: 10px;
  padding-top:10px;
}

@media screen and (max-width: 1100px) {
  .main {
    height: 120vh;
  }
}

.two-section {
  width: 50%;
  height: 100%;
  margin-right: -4px;
  margin-bottom: -4px;
  display: inline-block;
  background: #FFFFFF;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.two-section h1 {
  font-size: 38px;
  color: #49C5B6;
  font-family: 'Manrope-ExtraBold';
  letter-spacing: 3px;
  display: inline-block;
}

.two-section img {
  height: 30px;
  width: auto;
  display: inline-block;
  margin-right: 20px;
}

.two-section p {
  font-size: 18px;
  line-height: 41px;
  font-family: 'Manrope-Light';
  letter-spacing: 1.25px;
  margin-bottom: 60px;
}

.two-section .holder {
  width: 80%;
  min-width: 500px;
  max-width: 800px;
  overflow: hidden;
}

.two-section .button-holder-two {
  margin-left: 20px;
}

@media screen and (max-width: 1100px) {
  .two-section {
    display: block;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 50vh;
  }
  .two-section h1 {
    font-size: 24px;
    letter-spacing: 2px;
  }
  .two-section img {
    height: 18px;
  }
  .two-section p {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .two-section .button-holder-two {
    margin-left: 10px;
  }
  .two-section .holder {
    min-width: 0px;
  }
}

@media screen and (max-width: 1100px) {
  #left-info {
    height: 70vh;
  }
}

.landing-video {
  height: 100%;
  width: auto;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.landing-video-ani {
  width: 100%;
  height: auto;
}

.tint {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0px;
  background: rgba(0, 0, 0, 0.3);
  float: right;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media screen and (max-width: 1100px) {
  .tint {
    margin-top: 70vh;
    height: 50vh;
    width: 100%;
  }
}

.tint-ani {
  width: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media screen and (max-width: 1100px) {
  .tint-ani {
    margin-top: 0;
    height: 100vh;
    width: 100%;
  }
}

.left-ani {
  width: 0px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media screen and (max-width: 1100px) {
  .left-ani {
    height: 0px !important;
    width: 100%;
  }
}

.right-ani {
  width: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media screen and (max-width: 1100px) {
  .right-ani {
    height: 100vh;
    width: 100%;
  }
}

#close-video {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999999999999999;
}

#expand-video {
  z-index: 99;
}

.section {
  height: auto;
  padding-top: 120px;
  padding-bottom: 120px;
  background: transparent;
}

.section h1 {
  font-size: 38px;
  color: #49C5B6;
  font-family: 'Manrope-ExtraBold';
  letter-spacing: 3px;
}

.section p {
  font-size: 20px;
  line-height: 41px;
  font-family: 'Manrope-Light';
  letter-spacing: 1.25px;
  margin-bottom: 60px;
}

.section .holder {
  width: 80%;
  min-width: 500px;
  max-width: 800px;
  overflow: hidden;
  margin: auto auto;
  text-align: center;
}

.section .button-holder-one {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  left: 0px;
  top: 0px;
}

@media screen and (max-width: 1100px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section h1 {
    font-size: 24px;
    letter-spacing: 2px;
  }
  .section p {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .section .holder {
    min-width: 0px;
    width: 90%;
  }
}

.marquee-holder {
  width: auto;
  text-align: center;
  margin: auto auto;
  white-space: nowrap;
  width: 2200px;
  -webkit-transform: translateX(calc(0px));
          transform: translateX(calc(0px));
  -webkit-animation: marqueemover 12s ease-in-out alternate infinite;
          animation: marqueemover 12s ease-in-out alternate infinite;
}

@-webkit-keyframes marqueemover {
  0% {
    -webkit-transform: translateX(calc(0px));
            transform: translateX(calc(0px));
  }
  100% {
    -webkit-transform: translateX(calc(100vw - 2200px));
            transform: translateX(calc(100vw - 2200px));
  }
}

@keyframes marqueemover {
  0% {
    -webkit-transform: translateX(calc(0px));
            transform: translateX(calc(0px));
  }
  100% {
    -webkit-transform: translateX(calc(100vw - 2200px));
            transform: translateX(calc(100vw - 2200px));
  }
}

.marquee-card {
  height: 50px;
  width: auto;
  display: inline-block;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 55px;
}

#partners h1 {
  margin-bottom: 120px;
}

#partners .holder {
  max-width: none;
  width: 100%;
}

#contact-us .holder {
  text-align: left;
}

#contact-us img {
  width: 100%;
  height: auto;
  float: right;
}

@media screen and (max-width: 1100px) {
  #contact-us .holder {
    text-align: center;
  }
}

#form-options h1 {
  margin-bottom: 120px;
}

#products h1 {
  margin-bottom: 120px;
}

#products .holder {
  max-width: none;
}

.option-holder {
  width: 100%;
  text-align: center;
}

.option {
  padding-bottom: 0px;
  width: 100px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  letter-spacing: 1.5px;
  font-family: 'Manrope-Light';
  color: #ADADAD;
  border-bottom: 2px solid none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .option {
    font-size: 12px;
    width: 70px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.active-option {
  padding-bottom: 10px;
  border-bottom: 2px solid #49C5B6;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #49C5B6;
}

.actions-holder {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

.actions-holder input {
  margin: auto auto;
  border: 1px solid #49C5B6;
  width: calc(90% - 40px);
  max-width: 600px;
  font-family: 'Manrope-Regular';
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 750px) {
  .actions-holder input {
    font-size: 12px;
  }
}

.actions-holder textarea {
  margin: auto auto;
  border: 1px solid #49C5B6;
  width: calc(90% - 40px);
  max-width: 600px;
  font-family: 'Manrope-Regular';
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 750px) {
  .actions-holder textarea {
    font-size: 12px;
  }
}

#phone-actions {
  display: none;
}

#letter-actions {
  display: none;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
}

.overlay-holder {
  height: auto;
  width: 80%;
  min-height: 40px;
  max-width: 1200px;
  max-height: 800px;
  background: #FFFFFF;
  padding: 40px;
  border-radius: 4px;
  overflow: scroll;
}

.overlay-holder .button-holder-one {
  float: right;
}

@media screen and (max-width: 1100px) {
  .overlay-holder {
    height: 80%;
  }
}

.overlay-content {
  text-align: center;
  margin-top: 120px;
}

.overlay-content img {
  height: 200px;
  width: 200px;
  border-radius: 4px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.products {
  height: auto;
  width: 100%;
  margin: auto auto;
  max-width: 2000px;
  text-align: center;
}

.product {
  height: auto;
  width: 200px;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  cursor: pointer;
}

.product img {
  height: 170px;
  width: 200px;
  margin: 0px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product .caption {
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
  width: 100%;
  font-size: 11px;
  font-family: 'Manrope-Light';
  color: #FFFFFF;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.88px;
  background: #49C5B6;
  border-radius: 4px;
}

#antinoiseshims_content {
  display: none;
}

#autoadjustedpushrods_content {
  display: none;
}

#backplates_content {
  display: none;
}

#brackets_content {
  display: none;
}

#childparts_content {
  display: none;
}

#cvbackplates_content {
  display: none;
}

#drumbackplates_content {
  display: none;
}

#frictiondisks_content {
  display: none;
}

#linedbrakeshoes_content {
  display: none;
}

#otherparts_content {
  display: none;
}

#awards_content {
  display: none;
}

#certifications_content {
  display: none;
}

.message {
  height: 8vh;
  line-height: 8vh;
  font-size: 18px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999999999999;
  background: #FFFFFF;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: #FFFFFF;
  font-family: 'Manrope-Light';
}

.message-success {
  background: #49C5B6;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.message-error {
  background: #FF908A;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header {
  height: 8vh;
  line-height: 8vh;
  font-size: 18px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999999999;
  background: #FFFFFF;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: #141414;
  font-family: 'Manrope-Light';
  -webkit-box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.29);
}

@media screen and (max-width: 750px) {
  .header {
    display: none;
  }
}

.header-element {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header-element img {
  height: 20px;
  margin-left: 40px;
  margin-top: 10px;
}

.header-element:hover {
  color: #49C5B6;
}

.header-mobile {
  height: 8vh;
  line-height: 8vh;
  font-size: 18px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999999999;
  background: #FFFFFF;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: #141414;
  font-family: 'Manrope-Light';
  -webkit-box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.29);
  display: none;
  transition: all .4s ease;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .header-mobile {
    display: block;
  }
}

.header-mobile-element {
  margin-bottom: 40px;
  display: block;
  height: 40px;
  width: 100%;
  line-height: 40px;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header-mobile-element img {
  height: 20px;
  margin-left: 40px;
  margin-top: 10px;
}

.header-mobile-element:hover {
  color: #49C5B6;
}

.header-element-holder {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.header-mobile-expand {
  height: 100vh;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header-mobile-expand .header-element {
  top: 50px;
}

.header-mobile-expand .header-element-holder {
  display: block;
}

#menu {
  margin-left: 0px;
  float: right;
  margin-right: 40px;
}

#menu img {
  height: 30px;
  margin-top: 5px;
}

#preloader {
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  background: #FFFFFF;
  z-index: 9999999999999999999999999999;
}

#preloader img {
  height: 20%;
  max-height: 150px;
  width: auto;
  margin: auto auto;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-animation: landinglogo .8s ease-in-out alternate infinite;
          animation: landinglogo .8s ease-in-out alternate infinite;
}

@-webkit-keyframes landinglogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes landinglogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */